@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Rowdies&display=swap");

/* 
font-family: 'Nunito', sans-serif;
font-family: 'Rowdies', cursive;
*/

body,
html {
  padding: o !important;
  margin: 0 !important;
  scroll-behavior: smooth !important;
  width: 100% !important;
  font-family: "Nunito", sans-serif !important;
}

.logo-font {
  font-family: "Rowdies", cursive !important;
}
